<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />-->
    <!-- Bootstrap -->
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="../../static/pc_theme/css/index.css" />
    <link rel="stylesheet" media="screen" href="../../static/pc_theme/css/global.css" />
    <link href="../../static/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="../../static/prettify/sunburst-by-james-for-prettify.css" />
    <script type="text/javascript" src="../../static/pc_theme/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <!--source-->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="/pc_theme/css/index.css" />
    <link rel="stylesheet" media="screen" href="/pc_theme/css/global.css" />
    <link rel="stylesheet" media="screen" href="/prettify/sunburst-by-james-for-prettify.css" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/pc_theme/js/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/assets/skin/pc_theme/defalut/js/sea.js"></script>
    <script type="text/javascript" src="/assets/skin/pc_theme/defalut/js/sea.config.js"></script>
    <script type="text/javascript" src="/user/status.json"></script>
</head>

<body>
<div class="top-common-nav  mb-50">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a href="/">RN在线新闻</a>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <div class="col-xs-12 col-md-8">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">首页 <span class="sr-only">(current)</span> </a></li>
                        <li><a href="/category/">发现 </a></li>
                        <li><a href="/topic/">话题 </a></li>
                    </ul>
                    <div style="margin-right: 5%;float: right !important;">
                        <form class="navbar-form navbar-left" role="search" id="top-search-form" action="/search/" method="get">
                            <div class="input-group">
                                <input type="text" name="q" id="searchBox" class="form-control col-md-5-1" value="" placeholder="找新闻，搜下先" />
                                <button class="input-group-addon btn" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        <button type="button" class="btn button-blue ask-button">搜索</button>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <#if username??>
                    <li><a href="/" class="active" id="unread_notifications"><span class="fa fa-bell-o fa-lg"></span></a></li>
                    <li><a href="/" class="active" id="unread_messages"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                    <li class="dropdown user-avatar">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img class="avatar-32 mr-5" alt="${username!}" src="/pc_theme/images/avatar/1.jpg"/>
                        <span>${username!}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li><a href="/userMessage-topics">我的主页</a></li>
                            <li><a href="/userMessage-collect">设置</a></li>
                    <li class="divider"></li>
                    <li><a href="/user/logout">退出</a></li>
                </ul>
                </li>
                <#else>
                <li><a href="/user/login">登录</a></li>
                <li><a href="/user/reg">注册</a></li>
            </#if>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="wrap">
    <div class="container">
        <div class="row mt-10">
            <div class="col-xs-12 col-md-9 main">
                <div class="tablist-header">
                    <ul>
                        <li><a class="active" href="/">推荐</a></li>
                        <li><a href="/index-attention">关注</a></li>
                        <li><a href="/index-hot">热榜</a></li>
                    </ul>
                </div>
                <div class="index-list">
                    <#if username??>
                    <#list news as list>
                    <div class="index-list-item" data-info-type="0" id="${list.nid}">
                        <h2 class="title"><a href="/recommend?nid=${list.nid}&recommendType=${list.recommendType}">${list.title}</a></h2>
                        <div class="summary" style="margin-top: 10px">
                            <ul class="list-inline text-muted">
                                <li><i class="fa fa-clock-o"></i> 发表于 ${list.date!} ${list.newsTime}
                                </li>
                                <li>阅读 ( ${list.readNum} )</li>
                            </ul>
                        </div>
                        <div class="item-actions" style="padding-top: 0px">
                            <i class="fa fa-star">​</i>${list.des}
                            <div style="float: right !important;">
                                <i class="fa fa-ban" onclick="closeItem('${list.nid}','${list.recommendType}')" style="cursor:pointer">不感兴趣​</i>
                            </div>
                        </div>
                    </div>
                </#list>
                <#else>
                <div class="init">
                    <p class="text-center">
                        (ﾟ∀ﾟ　)<br>  暂时没有任何数据 请登陆账号
                    </p>
                </div>
            </#if>
                    <div class="text-center">
                        <ul class="pagination">
                            <#if username??>
                            <a class="btn btn-default btn-lg" href=""><i class="fa fa-refresh"></i> 刷新</a>
                            </#if>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-xs side">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="es-icon es-icon-whatshot"></i>最新的新闻</h3>
                </div>
                <div class="panel-body">
                    <#list latestNews as item>
                    <div class="media media-number">
                        <!--缺少某些东西-->
                        <div class="media-body">
                            <a class="link-dark" href="/news/${item.nid!}" title="">${item.title!}</a>
                        </div>
                    </div>
                </#list>
                </div>
                </div>
                    <#if username??>
                    <div class="side-alert alert alert-link">
                        <a href="/userMessage-collect" class="btn btn-info btn-block">我的收藏</a>
                        <a href="/userMessage-attention" class="btn btn-warning btn-block">关注的人</a>
                        <a href="/userMessage-readLog" class="btn btn-primary btn-block">浏览历史</a>
                    </div>
                    </#if>
            </div>
        </div>

    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="text-center">
            <a href="/">RN在线新闻推荐系统</a><span class="span-line">|</span>
            <a href="/" target="_blank">联系我们</a><span class="span-line">|</span>
            <a href="/" target="_blank">lsolator</a>
        </div>
        <div class="copyright mt-10">
            Powered By <a href="/" target="_blank">RN新闻推荐平台</a> Release 20190320
        </div>
    </div>
</footer>
</body>
<script type="application/javascript">
    function closeItem(p1,p2) {
        $("#" + p1).hide();
        $.get( "/index-ban", { nid: p1, recommendType: p2 } );
        console.log(p2)
    }
</script>
</html>