<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit"/>
    <title>搜索</title>
    <!-- Bootstrap -->
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="../../static/pc_theme/css/global.css"/>
    <link href="../../static/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="../../static/prettify/sunburst-by-james-for-prettify.css"/>
    <script type="text/javascript" src="../../static/pc_theme/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <!--source-->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="/pc_theme/css/global.css"/>
    <link rel="stylesheet" media="screen" href="/prettify/sunburst-by-james-for-prettify.css"/>
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/pc_theme/js/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="user-index">
<div class="top-common-nav  mb-50">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a href="/">RN在线新闻</a>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <div class="col-xs-12 col-md-8">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">首页 <span class="sr-only">(current)</span> </a></li>
                        <li><a href="/category/">发现 </a></li>
                        <li><a href="/topic/">话题 </a></li>
                    </ul>
                    <div style="margin-right: 5%;float: right !important;">
                        <form class="navbar-form navbar-left" role="search" id="top-search-form" action="/search/" method="get">
                            <div class="input-group">
                                <input type="text" name="q" id="searchBox" class="form-control col-md-5-1" value="" placeholder="找新闻，搜下先" />
                                <button class="input-group-addon btn" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        <button type="button" class="btn button-blue ask-button">搜索</button>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <#if username??>
                    <li><a href="/" class="active" id="unread_notifications"><span class="fa fa-bell-o fa-lg"></span></a></li>
                    <li><a href="/" class="active" id="unread_messages"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                    <li class="dropdown user-avatar">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img class="avatar-32 mr-5" alt="${username!}" src="/pc_theme/images/avatar/1.jpg"/>
                            <span>${username!}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li><a href="/userMessage-topics">我的主页</a></li>
                            <li><a href="/userMessage-collect">设置</a></li>
                            <li class="divider"></li>
                            <li><a href="/user/logout">退出</a></li>
                        </ul>
                    </li>
                    <#else>
                    <li><a href="/user/login">登录</a></li>
                    <li><a href="/user/reg">注册</a></li>
                </#if>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="wrap">
    <div class="container">
        <div class="row mt-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ol class="breadcrumb">
                        <li>搜索</a></li>
                        <li class="active">${q!}</li>
                    </ol>
                </div>
            </div>
            <div class="index-list">
                <#list searchList as list>
                <div class="index-list-item" data-info-type="0" data-info-id="62">
                    <h2 class="title"><a href="/news/${list.nid}">${list.title}</a></h2>
                    <div class="summary" style="margin-top: 10px">
                        <ul class="list-inline text-muted">
                            <li><i class="fa fa-clock-o"></i> 发表于 ${list.date!} ${list.newsTime}
                            </li>
                            <li>阅读 ( ${list.readNum} )</li>
                        </ul>

                    </div>
                    <div class="item-actions" style="float: right !important;padding-top: 0px">
                        <button type="button" class="Button Button--plain"><span class="fa fa-comment">​</span> 评论
                        </button>
                        <button type="button" class="Button Button--plain star"><i class="fa fa-star">​</i> 收藏</button>
                    </div>
                </div>
                </#list>
                <div class="text-center">
                <ul class="pagination">
                    <#if p !=1>
                    <li class="prev"><a href="?p=${p-1}&q=${q!}" rel="prev" title="上一页">上一页</a></li>
                    <#else>
                    <li class="disabled"><a href="#" title="上一页">上一页</a></li>
                    </#if>
                    <#list 1..total as i>
                    <#if p ==i>
                    <li class="active"><a href="?p=${i}&q=${q!}" class="ahover" title="${i}">${i}</a></li>
                    <#else>
                    <li><a href="?p=${i}&q=${q!}" title="${i}">${i}</a></li>
                    </#if>
                    </#list>
                    <#if p!=total>
                    <li class="next"><a href="?p=${p+1}&q=${q!}" rel="next" title="下一页">下一页</a></li>
                    <#else>
                    <li class="disabled"><a href="#" title="下一页">下一页</a></li>
                    </#if>
                </ul>
            </div>
        </div>
        <!--<div class="init">
            <p class="text-center">
                (ﾟ∀ﾟ　)<br> 暂时没有任何数据
            </p>
        </div>-->
    </div>
</div>

</div>
</div>

<footer id="footer">
    <div class="container">
        <div class="text-center">
            <a href="/">RN在线新闻推荐系统</a><span class="span-line">|</span>
            <a href="/" target="_blank">联系我们</a><span class="span-line">|</span>
            <a href="/" target="_blank">lsolator</a>
        </div>
        <div class="copyright mt-10">
            Powered By <a href="/" target="_blank">RN新闻推荐平台</a> Release 20190320
        </div>
    </div>
</footer>
</body>
</html>
