<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap -->
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="../../static/pc_theme/css/people.css"/>
    <link rel="stylesheet" media="screen" href="../../static/pc_theme/css/global.css"/>
    <link href="../../static/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="../../static/prettify/sunburst-by-james-for-prettify.css"/>
    <script type="text/javascript" src="../../static/pc_theme/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <!--source-->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="/pc_theme/css/people.css"/>
    <link rel="stylesheet" media="screen" href="/pc_theme/css/global.css"/>
    <link rel="stylesheet" media="screen" href="/prettify/sunburst-by-james-for-prettify.css"/>
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/pc_theme/js/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/assets/skin/pc_theme/defalut/js/sea.js"></script>
    <script type="text/javascript" src="/assets/skin/pc_theme/defalut/js/sea.config.js"></script>
    <script type="text/javascript" src="/user/status.json"></script>
</head>
<body>
<div class="top-common-nav  mb-50">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a href="/">RN在线新闻</a>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <div class="col-xs-12 col-md-8">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">首页 <span class="sr-only">(current)</span> </a></li>
                        <li><a href="/category/">发现 </a></li>
                        <li><a href="/topic/">话题 </a></li>
                    </ul>
                    <div style="margin-right: 5%;float: right !important;">
                        <form class="navbar-form navbar-left" role="search" id="top-search-form" action="/search/"
                              method="get">
                            <div class="input-group">
                                <input type="text" name="q" id="searchBox" class="form-control col-md-5-1" value=""
                                       placeholder="找新闻，搜下先"/>
                                <button class="input-group-addon btn" type="submit"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <button type="button" class="btn button-blue ask-button">搜索</button>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <#if username??>
                    <li><a href="/" class="active" id="unread_notifications"><span
                            class="fa fa-bell-o fa-lg"></span></a></li>
                    <li><a href="/" class="active" id="unread_messages"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                    <li class="dropdown user-avatar">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img class="avatar-32 mr-5" alt="${username!}" src="/pc_theme/images/avatar/1.jpg"/>
                            <span>${username!}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li><a href="/userMessage-topics">我的主页</a></li>
                            <li><a href="/userMessage-collect">设置</a></li>
                            <li class="divider"></li>
                            <li><a href="/user/logout">退出</a></li>
                        </ul>
                    </li>
                    <#else>
                    <li><a href="/user/login">登录</a></li>
                    <li><a href="/user/reg">注册</a></li>
                </#if>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="wrap">
    <div class="container">
        <div class="row mt-10">
            <div class="col-xs-12 col-md-12">
                <div class="user-card">
                    <div class="ProfileHeader-userCover">
                        <div class="user-cover UserCover--colorBlock" style="background: rgb(112, 86, 68);"></div>
                    </div>
                    <div class="profile-header-wrapper">
                        <div class="profile-header-main">
                            <div class="user-avatar profile-header-avatar" style="top: -25px;">
                                <img class="Avatar Avatar--large UserAvatar-inner" width="160" height="160" src="/pc_theme/images/avatar/1.jpg"/>
                            </div>
                            <div class="profile-header-content">
                                <div class="profile-header-content-head">
                                    <h1 class="profile-header-title">
                                        <span class="profile-header-name">${username!}</span>
                                        <span class="profile-header-headline">${phone!}</span>
                                    </h1>
                                </div>

                                <div class="profile-header-content-footer">
                                    <div class="profile-header-buttons">
                                        <button type="button"
                                                class="Button button-blue userFollow-button" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-edit"></i>
                                            编辑个人资料
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-9 main">
                <div class="index-list">
                    <div class="profile-main">
                        <ul>
                            <li><a href="/userMessage-collect">我的收藏</a>
                            </li>
                            <li ><a href="/userMessage-attention">关注的人</a>
                            </li>
                            <li><a href="/userMessage-readLog">浏览历史</a>
                            </li>
                            <li class="activ"><a href="/userMessage-topics">关注的标签</a>
                            </li>
                        </ul>
                    </div>

                    <#if tags??>
                    <!--关注的用户-->
                    <#list tags as list>
                    <div class="index-list-item" id="t${list.id!}">
                        <div>
                            <#if list.type==1 >
                            <a href="/category/${list.tagName}">
                                <strong><span>${list.tagName}</span></strong>
                            </a>
                            <#else>
                            <a href="/topic/${list.tagName}">
                                <strong><span>${list.tagName}</span></strong>
                            </a>
                            </#if>
                            <button class="btn btn-danger userFollow-button" style="float: right !important;" onclick="alertCollect('${list.id!}','${list.tagName!}')"><i class="fa fa-plus"></i> 已关注</button>
                        </div>
                    </div>
                </#list>
                <#else>
                <div class="init">
                    <p class="text-center">
                        (ﾟ∀ﾟ　)<br>  暂时没有关注任何话题
                    </p>
                </div>
            </#if>
        </div>
    </div>

    <div class="col-md-3">
        <div class="widget-user-card">
            <div class="card-header">
                <div class="card-header-text">个人成就</div>
            </div>
            <div class="card-profile-body">
                <div class="profile-item">
                    <div class="icon-graf">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i> <a href="" target="_blank">累计评论N次评论</a>
                    </div>
                    <div class="Profile-sideColumnItemValue"><!--获得 5,904 次感谢 ， 46,355 次收藏--></div>
                </div>
            </div>
        </div>

        <div class="card-box">
            <div class="col-xs-6 col-md-6 card-numberboard-items">
                <div class="card-itemname">关注</div>
                <a href="/userMessage-attention"><strong class="card-itemnumber">${userNum!}</strong></a>
            </div>
            <div class="col-xs-6 col-md-6 card-numberboard-items">
                <div class="card-itemname">粉丝</div>
                <a href="#"><strong class="card-itemnumber">${attentionNum!}</strong></a>
            </div>
        </div>
    </div>
</div>

</div>
</div>

<!--修改信息的弹窗-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">编辑个人信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" id="registerForm" action="/user/reg">
                    <div class="form-group ">
                        <label class="required">手机号码/邮箱</label>
                        <input type="text" class="form-control" name="phoneNumber" value="${phone}" required placeholder="请输入您的手机号码/邮箱" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="required">昵称</label>
                        <input type="text" class="form-control" name="username" id="username" value="${username}" required placeholder="请输入您的昵称">
                    </div>
                    <div class="form-group">
                        <label for="password" class="required">原始密码</label>
                        <input type="password" class="form-control" name="password" id="password" required placeholder="不少于 6 位">
                    </div>
                    <div class="form-group ">
                        <label for="password2" class="required">新密码</label>
                        <input type="password" class="form-control" name="password2" id="password2" required placeholder="不少于 6 位">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="alertUser()">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="application/javascript">
    function alertUser() {
        {
            var username = $("#username").val();
            var password = $("#password").val();
            var password2 = $("#password2").val();

            if (password === "" || password2 === "") {
                password = "null";
                password2 = "null";
            } else {
                password = md5(password);
                password2 = md5(password2);
            }

            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/user/alert" ,//url
                data: {
                    username:username,
                    password:password,
                    password2:password2
                },
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result.code === "1") {
                        window.location.href = "/userMessage-collect";
                    } else {
                        alert("原始密码错误！");
                    }
                },
                error : function() {
                    alert("异常！");
                }
            });
        }
    }

    function alertCollect(val,val2) {
        $("#t" + val).hide();
        $.get( "/user/topic", { tagName:val2,isCheck:"-1"} );
    }
</script>
</html>